/* drag-and-drop.css */


.drag-and-drop {
    border: 2px dashed #0251ad;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 300px;         /* Fixed width */
    height: 120px;        /* Fixed height */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefefe;


    z-index: 1000;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.drag-and-drop small {
    display: block;           /* Ensures 'small' element takes its own line */
    margin-top: 10px;         /* Adds some space above the 'small' element */
    font-size: 0.8em;         /* Smaller font size for 'small' element */
    text-align: center;       /* Center-align the 'small' text */
    color: #fefefe
}

@media (max-width: 600px) {
    .drag-and-drop {
        width: 95%;
        height: 30vh;
    }
}


